@import "tailwindcss";
@plugin "daisyui" {
  /*themes: coffee --default, light, cupcake;*/
}
@tailwind base;
@tailwind components;
@tailwind utilities;
h1{
  margin: 0 !important;
}
#contact h2{
  color: #fff !important;
}
@media (max-width: 1024px) {
  .hero-content- {
    min-height: 50vh !important;
  }
}